* {
margin: 0;
padding: 0;
}


body {
margin-top: 30px;
background-color: #f8f4f8;
}


img {
width: 202px;
height: 202px;
text-align: center;
}

.photo {
text-align: center;
margin-top: 10px;
margin-bottom: 25px;
}


h1 {
font-family: Arial, sans-serif;
font-size: 36px;
color: #010101;
text-transform: uppercase;
text-align: center;
padding-top: 25px;
padding-bottom: 25px;
}



.wrap {
width: 1024px;
height: 1024px;
margin-left:  auto;
margin-right:  auto;
background-color: #eee;
}


h2 {
font-size: 18px;
padding-top: 25px;
padding-bottom: 25px;
border-top: 1px solid #cccccc;
}


p {
color: #3a3a3a;
font-size: 14px;
font-family: "MyriadProRegular",Arial,san-serif;
padding-left: 25px;
font-weight: normal;
}

.cv {
width: 500px;
margin-left: auto;
margin-right: auto;
}


ul {
line-height: 1px;
padding-left: 10px;
}


li {
margin-left: 20px;
margin-bottom: 25px;
font-size: 14px;
color:  #3b3b3b;
font-family: "MyriadProRegular",Arial, sans-serif;
font-weight: normal;
}

.main {
padding-left: 175px;
padding-right: 175px;
width: 500px;
height:500px;
margin-left: auto;
margin-right: auto;
}

.vk {
border-top: none;
padding-bottom: 20px;
padding-top: 20px;
}


p a {
font-size: 14px;
font-style: italic;
color: #0056d3;
}


.first {
margin-left: -25px;
font-family: Arial, sans-serif;
font-weight: normal;
font-size: 14px;
padding-bottom: 20px;
color: #1f1f1f;
opacity: 0.8;
}


.phone {
font-size: 14px;
color: #3a3a3a;
}
























